
.github-container {
    align-self: flex-end;
    background: white;
    color: #000;
    display: flex;
    height: 32em;
    justify-content: space-between;
    margin-top: 4em;
    padding-left: 1.5em;
  }
  
  .github-text-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 4em;
  }
  
  .github-text-title {
    font-size: clamp(24px, 4vw, 72px);
    font-weight: 800;
    margin: 0;
  }
  
  .github-text-body {
    font-size: clamp(12px, 1vw, 22px);
    font-weight: 300;
    margin-top: 48px;
    max-width: 32em;
  }
  
  .github-text-link {
    color: #181823;
    font-size: clamp(12px, 1.1vw, 22px);
    line-height: 150%;
    margin-top: 8px;
    text-decoration-line: underline;
  }
  
  .github-img {
    align-self: baseline;
    height: 32em;
    margin-right: 5em;
  }