
.presentation {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}

.presentation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 85%;
}

.presentation-text-container {
  font-size: 1.8vw;
  background-color: #14141D;
  padding: 4em 6em;
}

.presentation-img-container {
  width: 30vw;
}

.presentation-img {
  width: 100%;
}

.presentation-span {
  color: #58585f;
}